.alert {
 padding:15px;
 margin-bottom:21px;
 border:1px solid transparent;
 border-radius:4px
}
.alert h4 {
 margin-top:0;
 color:inherit
}
.alert .alert-link {
 font-weight:bold
}
.alert>p,
.alert>ul {
 margin-bottom:0
}
.alert>p+p {
 margin-top:5px
}
.alert-dismissable,
.alert-dismissible {
 padding-right:35px
}
.alert-dismissable .close,
.alert-dismissible .close {
 position:relative;
 top:-2px;
 right:-21px;
 color:inherit
}
.alert-success {
 color:#ffffff;
 background-color:#18bc9c;
 border-color:#18bc9c
}
.alert-success hr {
 border-top-color:#15a589
}
.alert-success .alert-link {
 color:#e6e6e6
}
.alert-info {
 color:#ffffff;
 background-color:#3498db;
 border-color:#3498db
}
.alert-info hr {
 border-top-color:#258cd1
}
.alert-info .alert-link {
 color:#e6e6e6
}
.alert-warning {
 color:#ffffff;
 background-color:#f39c12;
 border-color:#f39c12
}
.alert-warning hr {
 border-top-color:#e08e0b
}
.alert-warning .alert-link {
 color:#e6e6e6
}
.alert-danger {
 color:#ffffff;
 background-color:#e74c3c;
 border-color:#e74c3c
}
.alert-danger hr {
 border-top-color:#e43725
}
.alert-danger .alert-link {
 color:#e6e6e6
}

.dottedUnderline {
    border-bottom: 1px dashed black;
}

.hymie-button-accept {
}

.hymie-button-reject {
}

.hymie-button-info {

}